.container {
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    padding: 1em;
}
p {
    font-style: italic;
    font-weight: bold;
    color: maroon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}